<?php if ($config['display_banner'] === true) {
	include $path . '/assets/img/banner.php';
}
?>

<div class="page-info">
	<h1><?php echo $site_name; ?></h1>
	<span class="small">Just a soykaf IB.</span>
</div>

<br>

<div class="main first">
	<h2>Main Features</h2>
	<p> No support...<br>
		No database?<br>
		No glowies! JS is not a requirement.<br>
		Supports both imageboards and textboards.<br>
		Lacks so much in features that it will work on just about anything.<br>
		Will probably break at random — oh well!<br>
		It has soul..?
	</p>
</div>


<br>
<div class="main">
	<h2>Boards</h2>
	<?php
	echo '<table id="boards">';
	echo '<thead><th>Board</th><th>Description</th><th>Posts</th></thead>';

	foreach ($config['boards'] as $boards) {
		if ($boards['hidden'] === 0) {
			echo '<tr><th><a href="' . $prefix_folder . '/' . $main_file . '?board=';
			echo $boards['url'];
			echo '">';
			echo '/' . $boards['url'] . '/' . ' - ' . $boards['title'];
			echo '</a></th><th>' . $boards['description'] . '</td></th>';
			$board_counter = file_get_contents($path . '/' . $database_folder . '/boards/' . $boards['url'] . '/counter.php') - 1;
			echo '<th>' . $board_counter . '</th>';
		}
	}

echo '</table>';

	?>
</div>

<br>
<div class="main">
	<h2>Stats</h2>
	<div class="stats">
		<div><b>Total Posts:</b> <?php echo $total_posts; ?></div>
		<div><b>Unique Posters:</b> 
			<?php 
				@include __dir__ . '/../../' . $database_folder . '/frontpage.php'; 
				echo $frontpage_uniqueids;
			?></div>
		<div><b>Active Content:</b> <?php echo formatBytes($frontpage_active); ?></div>
	</div>
</div>