html[data-stylesheet="Late"] body {
  background: #000;
  color: #ACACAC;
  font-family: 'Hack', monospace, sans-serif;
}

html[data-stylesheet="Late"] div#post-form th {
  background-color: #202020;
  color: #c5c8c6;
  font-weight: 700;
  border: 1.5px solid #A0A0A0;
  border-radius: 3px;
}

html[data-stylesheet="Late"] span.subject {
  color: #90ac9b;
}
html[data-stylesheet="Late"] span.name {
  color: #445876;
}
html[data-stylesheet="Late"] a, html[data-stylesheet="Late"] a:visited {
  color: #fff;
}
html[data-stylesheet="Late"] span.link.name {
  color: #81a2be;
}
html[data-stylesheet="Late"] a:hover, html[data-stylesheet="Late"] a span.link.name:hover, html[data-stylesheet="Late"] span.post-number a:hover {
  color: red;
}
html[data-stylesheet="Late"] .code {
  background: #000;
  color: #fff;
}
html[data-stylesheet="Late"] .postingmode {
  background: #000;
}

html[data-stylesheet="Late"] div.main {
  border-color: #000;
  background: #282a2e;
}

html[data-stylesheet="Late"] div.main h2 {
  background: #1d1d21;
  color: #c5c8c6;
  border-bottom: 1px solid #111;
}

html[data-stylesheet="Late"] div.main a {
  color: #fff;
}

html[data-stylesheet="Late"] div.main a:hover {
  color: red;
}

html[data-stylesheet="Late"] div.main.first h2 {
  background: #1d1d21;
  color: #c5c8c6;
}

html[data-stylesheet="Late"] div.main.first {
  color: #c5c8c6;
}

html[data-stylesheet="Late"] .static.footer li {
  background: #282a2e;
  border-color: #000!important;
}

html[data-stylesheet="Late"] hr {
  border-color: #282a2e;
}

html[data-stylesheet="Late"] input[type="text"]:focus, html[data-stylesheet="Late"] input[type="password"]:focus, html[data-stylesheet="Late"] input:not([type]):focus, html[data-stylesheet="Late"] textarea:focus {
  border-color: #515151;
}

html[data-stylesheet="Late"] input[type="text"], html[data-stylesheet="Late"] input[type="password"], html[data-stylesheet="Late"] textarea {
  background: #202020;
  border: 1.5px solid #a0a0a0;
  color: #c5c8c6;
  border-radius: 3px;
}

html[data-stylesheet="Late"] input[type="checkbox"], html[data-stylesheet="Late"] input[type="submit"], html[data-stylesheet="Late"] input[type="file"], html[data-stylesheet="Late"] button, html[data-stylesheet="Late"] select {
    filter: brightness(80%);
}

html[data-stylesheet="Late"] .page-info {
  color: #c5c8c6;
}

html[data-stylesheet="Late"] .post-number a {
  color: #c5c8c6;
}

html[data-stylesheet="Late"] .post.reply {
  background: #292929;
  border: 2px solid rgba(110, 110, 110, 0.6);
  border-radius: 3px;
}

html[data-stylesheet="Late"] div.post details table {
  background: #000;
  border: 1.5px solid #a0a0a0;
  border-radius: 3px;
}

html[data-stylesheet="Late"] .post-time, html[data-stylesheet="Late"] .post-number {
  font-weight: 700;
}

html[data-stylesheet="Late"] div.post-arrows {
  opacity: 0;
}

html[data-stylesheet="Late"] .pager {
  background: #292929;
  border: 2.5px solid #525252;
  border-radius: 3px;
}

html[data-stylesheet="Late"] .catalog .container {
  background: #292929;
}

html[data-stylesheet="Late"] .catalog .container:hover {
    background: #353535;
}