body {
	font-family: arial,helvetica,sans-serif;
	background: #eef2ff url('img/fade-yotsuba-b.png') top center repeat-x;
	font-size: 10pt;
}


.small {
	font-size: 12px;
}

.name {
	color: #117743;
	font-weight: 700;
}

.link.name {
	color: #0f0c5d;
	font-weight: 700;
	text-decoration: underline;
}

.modlevel.admin {
  color: red;
}

.modlevel.mod {
  color: purple;
}

.modlevel.janitor {
  color: blue;
}

.modlevel.user {
  color: green;
}

.subject {
	color: #0f0c5d;
	font-weight: 700;
}

ul.rules {
	list-style: numeric;
}

.icon {
	margin-left: 4px;
}

span.quote {
  color: #789922;
}
span.rquote {
  color: #e82323;
}

.code {
	font-family: 'MS PGothic', 'submona' !important;
	background: #eeeeee45;
	color: #000;
	border: 1px solid gray;
}
.aa {
	font-family: 'MS PGothic', 'submona' !important;
}
.active {
	font-weight: bold;
}
.spoiler {
	background: #000;
	color: #000;
}

.spoiler:hover {
	color: #fff;
}

a, a:visited {
	text-decoration: none;
	color: #34345c;
}

a:hover, .post-number a:hover {
	color: #d00;
}

a.download, a.download:visited {
	text-decoration: none!important;
	transform: rotate(90deg);
	display: inline-block;
	font-weight: bold;
}

a.quotelink {
	text-decoration: underline;
	color: #d00;
}

div.file-info a {
	text-decoration: underline;
}

div.file-info.deleted {
	display: none;
}

div.post.reply .post-file .file-info {
    margin-left: 5px;
}

div.container {
	display: table;
	width: 100%;
}

div.post-image {
	float: left;
	margin: 4px 10px 10px 15px;
}

div.post-image img {
    min-width: 16px;
	min-height: 16px;
}

p {
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	border-top: 1px solid #b7c5d9;
	height: 0;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

div.banner {
	width: 240px;
	height: 60px;
	border: 1px solid #000;
	margin: auto;
}

div.page-info {
	text-align:  center;
	color: #af0a0f;
}

div.page-info h1 {
	margin: 0;
	letter-spacing: -2px;
	font-weight: 700;
	font-family: Tahoma,sans-serif;
}

div#boardlist {
	font-size: 12px;
}

.main {
	width: 750px;
	margin: auto;
	background: white;
	border: 1px solid #000;
}

.main.first.banned {
	margin-top: 100px;
	word-break: break-all;
	min-height: 310px;
}

img.banned {
	width: 250px;
	height: 250px;
	float: right;
	margin: 20px;
	border: 1px solid;
}

span.banned {
	color: red;
	font-weight: bold;
}

div.post.reply.banned {
	margin-left: 10px;
}

div.post.reply.highlighted, div.post.reply.mouse-highlight {
	background: #d6bad0;
	border-color: #ba9dbf;
}

div.post.reply.highlighted.mouse-highlight {
	background: #bfa6ba;
}

.main h2 {
	background: #98e;
	padding-left: 4px;
	font-size: 16px;
	line-height: 1.4;
}

.main p {
	font-size: 10pt;
	margin-left: 4px;
}

hr.footer.static {
	width: 752px;
	margin-bottom: 0;
	border-color: #000;
}

div.static.footer ul {
	list-style: none;
	display: table;
	margin: auto;
}

.static.footer li {
	float: left;
	padding: 2px 15px;
	background: #eef2ff;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

.static.footer li:first-child {
	border-left: 1px solid;
}

table#boards {
	width: 100%;
}

table#boards tr th {
	text-align: left;
}

table#boards thead th {
	text-decoration: underline;
}

#post-form {
	width: 450px;
	margin: auto;
}

#post-form th {
	background-color: #98e;
	color: #000;
	font-weight: 700;
	border: 1px solid #000;
	padding: 0 5px;
	font-size: 10pt;
	text-align: left;
}

input[type="text"], input[type="password"], textarea {
	appearance: none;
	border-radius: 0;
	outline: none;
	border: 1px solid #aaa;
	width: 200px;
	padding: 2px;
}

#post-form textarea {
	min-width: 200px;
	min-height: 50px;
}

input[type="text"]:focus, input[type="password"]:focus, input:not([type]):focus, textarea:focus {
	border: 1px solid #98e;
}
input[type="file"] {
	width: 260px;
	text-overflow: ellipsis;
}

textarea {
	width: 275px;
}

div.footer {
	text-align: center;
}

div.footer p {
	margin-top: 4px;
}

input[name="captcha"] {
    margin-top: 3px;
    text-transform: uppercase;

}

.message {
    text-align: center;
    font-size: 24px;
    margin-top: 25%;
    font-weight: 700;
}

.thread-stats {
	position: absolute;
	right: 15px;
}

.abovefooter {
	height: 30px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.stats {
	display: flex;
	justify-content: space-around;
}
.stats div {
	width: 33%;
}

#boards, .main p, .stats {
	padding: 6px;
}

.post-number a {
    color: #000;
}

img#captcha {
	border: 1px solid #000;
}

div.postingmode {
	text-align: center;
	background: #e04000;
	color: white;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 2px;
}

[data-tooltip] {
	position: relative;
	white-space: pre;
	cursor: default;
}
[data-tooltip]::after, [data-tooltip]::before {
	visibility: hidden;
	transition: all linear 0.001s;
	transition-delay: 0.3s;
	white-space: pre;
}
[data-tooltip]:hover::before, [data-tooltip]:hover::after {
	visibility: visible;
}
[data-tooltip]:hover {
	position: relative;
}
[data-tooltip]::after {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;		  
	border-top: 5px solid #1a1a1a;
	position: absolute;
	bottom: 55%;
	content: '';
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 5px;
}
[data-tooltip]::before {
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	border-radius: 0px;
	padding: 2px 5px 2px 5px;
	background-color: #1a1a1a;
	content: attr(data-tooltip);
	color: #f9f9f9;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 2px;
	text-align: center;
	font-size: 11px;
	font-style: initial;
	font-weight: initial;
}

div.blotter {
	text-align: center;
	font-weight: 700;
	color: red;
}

div.post.reply {
	display: table;
	background: #d6daf0;
	margin: 4px;
	padding: 2px;
	border: 1px solid #b7c5d9;
	border-left: none;
	border-top: none;
}

div.omitted {
	color: #707070;
}

div.post-arrows {
	float: left;
	margin-right: 2px;
	color: #b7c5d9;
}

details summary {
	user-select: none;
	cursor: pointer;
	margin-left: 5px;
}

label {
	user-select: none;
	font-size: 10pt;
}

div.post details {
	display: inline;
	margin-right: -4px;
}

div.post td details {
    margin-right: 0;
}

div.post details summary {
  font-size: 16px;
}

div.post details table {
	position: absolute;
	background: #d6daf0;
	border: 1px solid #b7c5d9;
	z-index: 1;
}

.pager a, .static.footer ul li a {
	color: inherit!important;
}

.static.footer ul li a:hover {
	color: red!important;
}

.pager form {
    height: 5px;
}

.pager {
	background: #d6daf0;
	padding: 4px;
	border-right: 1px solid #b7c5d9;
	border-bottom: 1px solid #b7c5d9;
}

.box {
	width: 752px;
	margin: auto;
	box-sizing: border-box;
}

.box.flex {
	display: flex;
}

.container-right {
	width: 585px;
	margin: 0 0 auto auto;
}

.box.right {
	width: 100%;
	border: 1px solid #006;
	color: #000;
	background: #eff;
}

.box.left {
	width: 150px;
	border: 1px solid #060;
	background: #efe;
	color: #060;
	margin: 0 auto auto 0;
}

.box.right h2 {
	color: #fff;
	background: #59a;
}

.box.left h2 {
	background: #9c6;
}

.box.left h2, .box.right h2 {
	padding-left: 4px;
	font-size: 16px;
	line-height: 1.4;
}

.box-content {
	padding: 3px;
}

.box-list {
	list-style: none;
	padding: 4px;
	margin: 0;
}