<?php
if ($ban['duration'] == 'warning') {
	$title = 'Uh oh! Warning...';
} else {
	$title = 'Uh oh! Banned...';
}

$current_board = phpClean($_POST["board"]);

include __dir__ . '/header.html';
?>
<div class="main first banned">
	<h2>
	<?php if ($ban['duration'] == 'warning') {
		echo 'Warning!';
	} else {
		echo 'Banned!';
	}
	?>
	</h2>
	<?php 
		echo '<img class="banned" src="' . $prefix_folder . '/assets/img/banned.png' . '">';

		echo '<p>How did you manage this...</p>';

		echo '<div class="post reply banned">';
		if (isset($ban['post_body'])) {
			echo '<div class="post-info">';
			if ($ban['post-subject'] != '') {
				echo '<span class="subject">'.$ban['post-subject'].'&nbsp;</span>';
			}
			if ($ban['post-email'] != '') {
				echo '<span class="name"><a href="mailto:'.$ban['post-email'].'">'.$ban['post-name'].'</a>&nbsp;</span>';
			} else {
				echo '<span class="name">'.$ban['post-name'].'&nbsp;</span>';
			}
			echo '<span class="post-time" data-tooltip="'.timeConvert($ban['post-time'], $time_method_hover).'" data-timestamp="'.$ban['post-time'].'">'.timeConvert($ban['post-time'], $time_method).'&nbsp;</span>';
			echo '<span class="post-number">No.'.$ban['reply'].'</span>';
			echo '</div><blockquote class="post-content">'.$ban['post-body'].'</blockquote>';
		} else {
			echo 'Manual ban.';
		}


	echo '</div>';
	
	echo '<p style="word-break:break-word;">';

	if ($ban['duration'] != 'warning') {
		if ($ban['duration'] == 'permanent') {
			echo 'You were permanently banned on ' . timeConvert($ban['time'], $method = "compactsince") . '. This ban will not expire.';
		} elseif ($ban['is_active'] == "1") {
			echo 'You were banned on ' . timeConvert($ban['time'], $method = "compactsince") . ' and your ban expires on ' .  timeConvert($ban['time'] + $ban['duration'], $method = "compact") . ' (in ' . timeuntil($ban['time'] + $ban['duration']) . ').';
		} else {
			echo 'You were banned on ' . timeConvert($ban['time'], $method = "compactsince") . ' and your ban <b>expired</b> ' . timeago($ban['time']) . '. You may now continue posting.';
		}
	} else {
		echo 'You received a warning on ' . timeConvert($ban['time'], $method = "compactsince") . '. You may now continue posting.';
	}
	echo '</p>';
	echo '<p><b>Reason:</b> ' . $ban['reason'] . '</p>';

	echo '<p><b>IP:</b> ' . $ban['original_ip'] . '</p>';

	?>
	<br>
</div>
<br><br>
<div class="message" style="margin-top:0;">[<a href="<?php echo $prefix_folder . '/' . $main_file ?>">Return</a>]</div>