<hr>

<div class="abovefooter">
	<?php 
	if (isset($current_board) && $current_board != '') {
		if (isset($current_page) && $current_page == 'index' && $pages > 1) {
			echo '<div class="float-left pager">';
				echo '<table>';
					echo '<tr>';
						echo '<td>' . $prevlink . '</td>';
						echo '<td>' . $all_pages . '</td>';
						echo '<td>'  . $nextlink . '</td>';
					echo '</tr>';
				echo '</table>';
			echo '</div>';
		}
	}
	?>
&nbsp;
	<div class="float-right">
		<select id="themes">
		<?php
		if (isset($current_board) && $current_board != '') {
			if ($config["boards"][$current_board]["type"] == "txt") {
				foreach($config['css_text'] as $theme) {
					echo '<option value="' . $theme . '">' . $theme . '</option>';
				}
			} else {
				foreach($config['css'] as $theme) {
					echo '<option value="' . $theme . '">' . $theme . '</option>';
				}
			}
		} else {
				foreach($config['css'] as $theme) {
					echo '<option value="' . $theme . '">' . $theme . '</option>';
				}			
		}



		?>
		<select>
		<noscript>
			<style>select#themes { display: none; }</style>
		<?php
		if (isset($current_board) && $current_board != '') {
			if ($config["boards"][$current_board]["type"] == "txt") {
				foreach($config['css_text'] as $theme) {
					echo '&nbsp;[<a href="' . $prefix_folder . $main_file . '/?board=' . $current_board . '&thread=' . $current_thread . '&theme=' . $theme . '">' . $theme . '</a>]';
				}
			} else {
				foreach($config['css'] as $theme) {
					echo '&nbsp;[<a href="' . $prefix_folder . $main_file . '/?board=' . $current_board . '&thread=' . $current_thread . '&theme=' . $theme . '">' . $theme . '</a>]';
				}
			}
		} else {
			foreach($config['css'] as $theme) {
				echo '&nbsp;[<a href="' . $prefix_folder . $main_file . '/?board=' . $current_board . '&thread=' . $current_thread . '&theme=' . $theme . '">' . $theme . '</a>]';
			}
		}
		?>
		</noscript>
	</div>
</div>
&nbsp;
<div class="footer">
	<p>ImoutoIB</p>
	<?php 
		if ($config['generated_in'] === true) {
			$end_time = microtime(true);
			$generation_time = round($end_time - $start_time, 5);
			echo '<p class="small">Page generated in ' . $generation_time . ' seconds.</p>';
		}
	?>
	<br>
<a name="bottom"></a>
</div>