<?php if ($config['display_banner'] === true) {
	include __DIR__ . '/../assets/img/banner.php';
}
?>

<div class="page-info">
	<h1>ImoutoIB</h1>
	<span class="small">Just a soykaf IB.</span>
</div>

<br>

<div class="main first">
	<h2>Main Features</h2>
	<p> No support...<br>
		No database?<br>
		No glowies!<br>
		Lacks so much in features that it will work on just about anything. Uwah!<br>
		Will probably break at random — oh well!<br>
		but most important of all!! It has soul...
	</p>
</div>

<br>
<div class="main">
	<h2>Boards</h2>
	<?php
	echo '<table id="boards">';
	echo '<thead><th>Board</th><th>Description</th><th>Posts</th></thead>';

	foreach ($config['boards'] as $boards) {
		if ($boards['hidden'] === 0) {
			echo '<tr><th><a href="' . $prefix_folder . '/' . $main_file . '?board=';
			echo $boards['url'];
			echo '">';
			echo '/' . $boards['url'] . '/' . ' - ' . $boards['title'];
			echo '</a></th><th>' . $boards['description'] . '</td></th>';
			echo '<th>' . file_get_contents($path . '/' . $database_folder . '/boards/' . $boards['url'] . '/counter.php') . '</th>';
		}
	}

echo '</table>';

	?>
</div>

<br>
<div class="main">
	<h2>Stats</h2>
	<div class="stats">
		<div><b>Total Posts:</b> <?php echo $total_posts; ?></div>
		<div><b>Unique Posters:</b> I'm not a fed!!</div>
		<div><b>Active Content:</b> 0...</div>
	</div>
</div>