<?php if ($config['display_banner'] === true) {
	include $path . '/assets/img/banner.php';
}
?>

<div class="page-info">
	<h1><?php echo $site_name; ?></h1>
	<span class="small"><?php echo $site_slogan; ?></span>
</div>

<br>

<div class="main first">
	<h2>Live Demo</h2>
	<p> This software is probably riddled with bugs and exploits.<br>Please send me questions, feature requests, and bug reports on <a href="https://github.com/ithrts/ImoutoIB" target="_blank">Github</a>.<br><br>You should not use ImoutoIB in any serious capacity.</p>
</div>


<br>
<div class="main">
	<h2>Boards</h2>
	<?php
	echo '<table id="boards">';
	echo '<thead><th>Board</th><th>Description</th><th>Posts</th></thead>';

	foreach ($config['boards'] as $boards) {
		if ($boards['hidden'] === 0) {
			echo '<tr><th><a href="' . $prefix_folder . '/' . $main_file . '?board=';
			echo $boards['url'];
			echo '">';
			echo '/' . $boards['url'] . '/' . ' - ' . $boards['title'];
			echo '</a></th><th>' . $boards['description'] . '</td></th>';
			$board_counter = file_get_contents($path . '/' . $database_folder . '/boards/' . $boards['url'] . '/counter.php') - 1;
			echo '<th>' . $board_counter . '</th>';
		}
	}

echo '</table>';

	?>
</div>

<br>
<div class="main">
	<h2>Stats</h2>
	<div class="stats">
		<div><b>Total Posts:</b> <?php echo $total_posts; ?></div>
		<div><b>Unique Posters:</b> 
			<?php 
				@include $path . '/' . $database_folder . '/frontpage.php'; 
				echo $frontpage_uniqueids;
			?></div>
		<div><b>Active Content:</b> <?php echo formatBytes($frontpage_active); ?></div>
	</div>
</div>