<title><?php echo $title; ?></title>

<!--SETTINGS-->
<script>
<?php if ($captcha_requires = true) { echo 'var captcha_required = true;'; } ?>
var install_location = '<?php echo $prefix_folder; ?>';
var default_theme = '<?php echo $default_theme ?>';
<?php 
	if (isset($current_board) && $current_board != '') {
		if ($config["boards"][$current_board]["type"] == "txt") {
			echo "var board_type = 'txt';"; 
		} else {
			echo "var board_type = 'img';"; 
		}
	} else { 
		echo "var board_type = 'img';"; 
	} 
?>
</script>

<!--LOAD THEME IMMEDIATELY-->
<script>
<?php 
if (isset($current_board) && $current_board != '') {
	if ($config["boards"][$current_board]["type"] == "txt") {
		echo 'if (localStorage.theme !== undefined) {';
		echo 'document.documentElement.setAttribute("data-stylesheet", localStorage.text_theme);';
		echo '};';
	} else {
		echo 'if (localStorage.theme !== undefined) {';
		echo 'document.documentElement.setAttribute("data-stylesheet", localStorage.theme);';
		echo '};';		
	}
} else {
	echo 'if (localStorage.theme !== undefined) {';
	echo 'document.documentElement.setAttribute("data-stylesheet", localStorage.theme);';
	echo '};';
}
?>

</script>

<?php 
	echo '<link rel="icon" type="image/png" href="' . $prefix_folder  . '/assets/img/favicon.png"/>';
?>

<?php 
	foreach ($config['css'] as $css) {
		echo '<link rel="stylesheet" type="text/css" href="' . $prefix_folder . '/assets/css/' . rawurlencode($css) . '.css">';
	}
?>

<?php 
	foreach ($config['js'] as $js) {
		echo '<script type="text/javascript" src="' . $prefix_folder . '/assets/js/' . $js . '"></script>';
	}
?>

