<?php if ($current_page === 'thread') { echo '<div class="postingmode">Posting mode: Reply</div>'; } ?>
<?php if ($current_page != ('thread') && $current_page != ('index')) { echo '<style>#post-form { display: none; }</style><div class="blotter">(Locked!)</div>'; } ?>
<div id="post-form">
<form name="post" action="<?php echo $prefix_folder;  ?>/post.php" method="post">
	<table>

	<!-- Hidden Inputs --->
	<?php echo '<input type="hidden" id="board" name="board" value="' . $current_board .'">';?>
	<?php if ($current_page === 'thread') { echo '<input type="hidden" id="thread" name="thread" value="thread">'; } ?>
	<?php if ($current_page === 'thread') { echo '<input type="hidden" id="thread_number" name="thread_number" value="' . $post_number_op . '">'; } ?>
	<?php if ($current_page === 'index') { echo '<input type="hidden" id="index" name="index" value="index">'; } ?>

	<tr>
		<th>Name</th>
		<td><input type="text" name="name" size="25" maxlength="256" autocomplete="off"></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><input type="text" name="email" size="25" maxlength="256" autocomplete="off"></td>
	</tr>
		<tr>
		<th>Subject</th>
		<td><input type="text" name="subject" size="25" maxlength="256" autocomplete="off">&nbsp;<?php echo '<input type="submit" name="post" value="'; if ($current_page == 'index') { echo 'Submit'; } if ($current_page == 'thread') { echo 'Reply'; } if ($current_page != 'thread' && $current_page != 'index') { echo 'Locked'; } if ($current_page != 'thread' && $current_page != 'index') { echo '" disabled>';} else { echo '">';}?></td>
	</tr>
	<tr>
		<th>Comment</th>
		<td><textarea name="body" id="body" rows="5" cols="30"></textarea></td>
	</tr>
	<?php if ($captcha_required == (true) && ($current_page == ('thread') || $current_page == ('index'))) {
		echo '<tr><th>Verification</th><td><img height="50" width="198" id="captcha" src="' . $prefix_folder . '/includes/captcha.php' .'"/><br><input type="text" name="captcha" size="" maxlength="6" autocomplete="off"></td>
		';
	}?>


	<tr>
		<th>File</th>
		<td><input type="file" name="file" id="upload"></td>
	</tr>
	</table>
	<details>
	    <summary>More</summary>
	    <table>
	    	<tr>
	    		<th>Password</th>
	    		<td><input type="password" name="password" size="25" maxlength="256" autocomplete="off" value=""></td>
	    	</tr>
	    	<tr>
	    		<th>Options</th>
	    		<td><label for="checkbox1"><input type="checkbox" id="checkbox1" name="checkbox1"> Spoiler Image</label> <label for="checkbox2"><input type="checkbox" id="checkbox2" name="checkbox2"> No Bump</label></td>
	    	</tr>
	    </table>
	</details>
</form>
</div>

<hr>