<?php if ($current_page === 'thread') { echo '<div class="postingmode">Posting mode: Reply</div>'; } ?>
<?php if ($current_page != ('thread') && $current_page != ('index')) { echo '<style>#post-form { display: none; }</style><div class="blotter">(Locked!)</div>'; } ?>
<div id="post-form">
<form enctype="multipart/form-data" name="post" action="<?php echo $prefix_folder;  ?>/post.php" method="post">
	<table>

	<!-- Hidden Inputs --->
	<?php echo '<input type="hidden" id="board" name="board" value="' . $current_board .'">';?>
	<?php if ($current_page === 'thread') { echo '<input type="hidden" id="thread" name="thread" value="thread">'; } ?>
	<?php if ($current_page === 'thread') { echo '<input type="hidden" id="thread_number" name="thread_number" value="' . $post_number_op . '">'; } ?>
	<?php if ($current_page === 'index') { echo '<input type="hidden" id="index" name="index" value="index">'; } ?>

	
	<?php 
		if ($forced_anon !== true) { 
		echo '<tr>';
		echo	'<th>Name</th>';
		if ($info_locked == 1) { 
			echo '<td><input type="text" name="name" size="25" maxlength="256" autocomplete="off" placeholder="' . $default_name . '" disabled=""></td>';
		} else {
			echo '<td><input type="text" name="name" size="25" maxlength="256" autocomplete="off" placeholder="' . $default_name . '"></td>';
		}
		echo '</tr>'; 
		} 
	?>
	<?php 
		if ($disable_email !== true) { 
			echo '<tr>';
			echo '<th>Email</th>';
		if ($info_locked == 1) { 
			echo '<td><input type="text" name="email" size="25" maxlength="256" autocomplete="off" disabled></td>';
		} else {
			echo '<td><input type="text" name="email" size="25" maxlength="256" autocomplete="off"></td>';
		}
			echo '</tr>';
		}
		
		?>

	<?php
	echo '<tr>';
	echo '<th>Subject</th>';
	if ($info_locked == 1) {
		echo '<td><input type="text" name="subject" size="25" maxlength="256" autocomplete="off" disabled>&nbsp;<input type="submit" name="post" value="Locked" disabled></td>';
	} else {
		echo '<td><input type="text" name="subject" size="25" maxlength="256" autocomplete="off">&nbsp;';
		if ($current_page == 'index') {
			echo '<input type="submit" name="post" value="Submit"></td>';
		}
		if ($current_page == 'thread') {
			echo '<input type="submit" name="post" value="Reply"></td>';
		}
		echo '</tr>';
	}
	?>

	<?php
	echo '<tr>';
	echo '<th>Comment</th>';
	if ($info_locked == 1) {
		echo '<td><textarea name="body" id="body" rows="5" cols="30" disabled></textarea></td>';
	} else {
		echo '<td><textarea name="body" id="body" rows="5" cols="30"></textarea></td>';
	}
	echo '</tr>';
	?>
	<?php if ($captcha_required == (true) && ($current_page == ('thread') && ($info_locked != 1) || $current_page == ('index'))) {
		echo '<tr><th>Verification</th><td><img height="50" width="198" id="captcha" src="' . $prefix_folder . '/includes/captcha.php' .'"/><br><input type="text" name="captcha" size="" maxlength="6" autocomplete="off"></td>
		';
	}?>

	<?php
	echo '<tr>';
	echo '<th>File</th>';
	if ($info_locked == 1) {
	echo '<td><input type="file" name="file" id="upload" disabled></td>';
	} else {
	echo '<td><input type="file" name="file" id="upload"></td>';
	}
	echo '</tr>';
	?>
	</table>
	<details>
	    <summary>More</summary>
	    <table>
	    	<tr>
	    		<th>Password</th>
	    		<td><input type="password" name="password" size="25" maxlength="256" value=""></td>
	    	</tr>
	    	<tr>
	    		<th>Options</th>
	    		<td>
	    			<?php if ($spoiler_enabled == true) { echo '
	    				<label for="spoiler"><input type="checkbox" id="spoiler" name="spoiler" autocomplete="off"> Spoiler Image</label>
	    				<div class="small">You may also type <i>spoiler</i> in the email field.</div>
	    				'; }?>
	    			<label for="sage"><input type="checkbox" id="sage" name="sage" autocomplete="off"> No Bump</label>
	    			<div class="small">You may also type <i>sage</i> in the email field.</div>
	    		</td>
	    	</tr>
	    </table>
	</details>
</form>
</div>

<hr>