<div class="post-arrows">&gt;&gt;</div>
<div class="post reply" id="<?php echo $post_number_reply; ?>">
	<div class="post-info">

		<?php if ($post_buttons == true) {
			echo '
				<details>
				    <summary></summary>
				    <form name="post_button" action="' . $prefix_folder . '/delete-report.php" method="post">
					    <table>
					    	<tbody>';

			if ($mod_level > 0) {
				echo '<tr><td><div class="small"><b>Moderator Tools:</b></div>';
				if ($config['mod']['ban'] <= $mod_level) {
						echo '<details><summary>Ban</summary><table id="post-form" style="width:initial;">
					<tbody>
					<tr><th>Reason:</th><td><input type="text" name="ban-reason" size="25" maxlength="256" autocomplete="off" placeholder="Reason"></td></tr>
					<tr><th>Duration:</th><td>
					<select name="ban-expire">
					  <option value="permanent">Permanent</option>
					  <option value="31104000">1 Year</option>
					  <option value="7776000">3 Months</option>
					  <option value="2592000">1 Month</option>
					  <option value="1209600">2 Weeks</option>
					  <option value="604800">1 Week</option>
					  <option value="259200">3 Days</option>
					  <option value="86400">1 Day</option>
					  <option value="3600">1 Hour</option>
					  <option value="warning" selected>Warning</option>
					</select>
					</td></tr>
					<tr><th>Public:</th><td><label for="public_' . $post_number_reply . '"><input type="checkbox" id="public_' . $post_number_reply . '" name="public">Public Ban Message</label><input type="text" name="ban-message" size="25" maxlength="256" autocomplete="off" placeholder="(User was banned for this post.)"></td></tr>
					<tr><th style="visibility:hidden;"></th><td><details style="float:right;"><summary style="text-align:right;">Ban</summary><input type="submit" name="create-ban" value="Create Ban"></details></td></tr>
				</tbody></table></details>';
				}

				echo '<hr></td></tr>';
			}



			echo '
					    		<input type="hidden" name="board" value="' . $current_board . '"/>
					    		<input type="hidden" name="thread" value="' . $post_number_op . '"/>
					    		<input type="hidden" name="reply" value="' . $post_number_reply . '"/>
					    		<tr>
									<td><input type="password" id="password_' . $post_number_reply . '" name="password" maxlength="256" placeholder="Password" value="' . $_COOKIE['post_password'] . '"></td>
									<td><input type="submit" name="delete" value="Delete"></td>
									<td><label for="file_' . $post_number_reply . '"><input type="checkbox" id="file_' . $post_number_reply . '" name="file">File only</label></td>
								</tr>
								<tr>
									<td><input type="text" id="reason_' . $post_number_reply . '" name="reason" maxlength="256" autocomplete="off" value="" placeholder="Reason"></td>
									<td><input type="submit" name="report" value="Report"></td>
									<td><label for="global_' . $post_number_reply . '"><input type="checkbox" id="global_' . $post_number_reply . '" name="global">Global</label></td>
								</tr>
							</tbody>
						</table>
					</form>
					</details>';
		}?>

		<?php if ($reply_subject != '') { echo '<span class="subject">' . $reply_subject . '&nbsp;</span>'; }?>
		<?php if (($reply_email != '') && ($show_email != false)) { echo '<a href="mailto:' . $reply_email . '">';}?><span class="<?php if(($reply_email != '') && ($show_email != false)) { echo 'link '; } ?>name"><?php echo $reply_name; ?></span><?php if (($reply_email != '') && ($show_email != false)) { echo '</a>'; }?>
		<span class="post-time" data-timestamp="<?php echo $reply_time;?>" data-tooltip="<?php echo timeConvert($reply_time, $time_method_hover); ?>"><?php echo timeConvert($reply_time, $time_method); ?></span>
		<?php
			if ($display_id == true) {
				echo '<span class="id">ID: ';
				if ($reply_email == "sage") {
					echo 'Heaven';
				} else {
					$idhash = md5($current_board . $post_number_op);
					$reply_id = crypt($reply_ip, $idhash);
					$reply_id = preg_replace("/\./", "", $reply_id);
					echo substr($reply_id, -8);
				}
				echo '</span>';
			}
		?>
		
		<?php
		echo '<span class="post-number">';
		echo '<a class="anchor" name="' . $post_number_reply . '" href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_reply . '">No.</a>';
		echo '<a class="click" num="' . $post_number_reply . '" id="cite_' . $post_number_reply . '" href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#q' . $post_number_reply . '">' . $post_number_reply . '</a>';
		echo '&nbsp;</span>';
		?>

	</div>

	<?php 

	if ($reply_file[0][0] == "deleted") {
		echo '<div class="post-file"><div class="file-info deleted">File Deleted</div><div class="post-image"><img class="file-deleted" width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_deleted . '"/></div></div>';
	}
	elseif ($reply_file[0][0] != '') {
		
			echo '<div class="post-file">';
				echo '<div class="file-info">';
				if ($original_filename == true && strlen($reply_file[0][2]) > $max_filename ) {
					echo 'File: <a title="' . $reply_file[0][2] . '" href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo substr($reply_file[0][2], 0, $max_filename) . '(...).' . getExt($reply_file[0][2]);
					echo '</a>';
				} elseif ($original_filename == true) {
					echo 'File: <a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo $reply_file[0][2];
					echo '</a>';	
				} else {
					echo 'File: <a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo $reply_file[0][1];
					echo '</a>';
				}

				if (isset($file_download)) {
					switch($file_download) {
						case 'original':
							echo '&nbsp;<a title="Download as ' . $reply_file[0][2] . '" class="download" href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '" download="' . $reply_file[0][2] . '">➜</a>';
							break;
						case 'server':
							echo '&nbsp;<a title="Download as ' . $reply_file[0][1] . '" class="download" href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '" download="' . $reply_file[0][1] . '">➜</a>';
							break;
						default:
							break;
					}
				}

				if ($reply_file[0][0] == 'image') {
				echo ' (' . formatBytes($reply_file[0][4]) . ', ' . $reply_file[0][3] . ')';
				echo '</div>';
				echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';

						$thmb_width = preg_replace('/x[^x]*$/', '', $reply_file[0][7]);
						$thmb_height = preg_replace('/^[^x]*x/', '', $reply_file[0][7]);
						$full_width = preg_replace('/x[^x]*$/', '', $reply_file[0][3]);
						$full_height = preg_replace('/^[^x]*x/', '', $reply_file[0][3]);

						if ($reply_file[0][5] != "1") {
						echo '<img img-id="'.$post_number_reply.'" class="thumb" width="'.$thmb_width.'" height="'.$thmb_height.'" src="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][6] . '"/>';
						} else {
						echo '<img img-id="'.$post_number_reply.'" class="thumb" width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_spoiler . '"/>';
						}
						echo '<img img-id="'.$post_number_reply.'" class="expand" style="display:none;" width="'.$full_width.'" height="'.$full_height.'" img-src="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '"/>';
						//image full

					echo '</a>';
				echo '</div>';
				}
				if ($reply_file[0][0] == 'audio') {
					echo ' (' . formatBytes($reply_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_audio . '"/>';
					echo '</a>';
					echo '</div>';
				}
				if ($reply_file[0][0] == 'video') {
					echo ' (' . formatBytes($reply_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_video . '"/>';
					echo '</a>';
					echo '</div>';
				}
				if ($reply_file[0][0] == 'download') {
					echo ' (' . formatBytes($reply_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_download . '"/>';
					echo '</a>';
					echo '</div>';
				}
			echo '</div>';
		}
		

		//reset files
		$reply_file = false;
	
	?>

	<blockquote class="post-content"><?php echo $reply_body; ?></blockquote>
</div>