<div class="post-arrows">&gt;&gt;</div>
<div class="post reply" data-postid="<?php echo $post_number_reply; ?>">
	<div class="post-info">

		<input type="checkbox" id="post_<?php echo $post_number_reply; ?>" name="post_<?php echo $post_number_reply; ?>" value="<?php echo $post_number_reply; ?>">
		<?php if ($reply_subject != '') { echo '<span class="subject">' . $reply_subject . '&nbsp;</span>'; }?>
		<?php if (($reply_email != '') && ($show_email != false)) { echo '<a href="mailto:' . $reply_email . '">';}?><span class="<?php if(($reply_email != '') && ($show_email != false)) { echo 'link '; } ?>name"><?php echo $reply_name; ?></span>&nbsp;<?php if (($reply_email != '') && ($show_email != false)) { echo '</a>'; }?>
		<span class="post-time" data-timestamp="<?php echo $reply_time;?>" data-tooltip="<?php echo timeConvert($reply_time, $time_method_hover); ?>"><?php echo timeConvert($reply_time, $time_method); ?>&nbsp;</span>
		<?php
			if ($display_id == true) {
				echo '<span class="id">ID: ';
				if ($reply_email == "sage") {
					echo 'Heaven';
				} else {
					$reply_id = crypt($reply_ip, $post_number_op . $post_number_op . $post_number_op . $post_number_op);
					echo substr($reply_id, -8);
				}
				echo '</span>';
			}
		?>
		<span class="post-number"><a name="<?php echo $post_number_reply; ?>" href="<?php echo $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_reply; ?>">No.</a><a href="<?php echo $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_reply; ?>"><?php echo $post_number_reply; ?></a>&nbsp;</span>

		<?php if ($post_buttons == true) {
			echo '
				<details>
				    <summary></summary>
				    <form name="post_button" action="' . $prefix_folder . '/delete-report.php" method="post">
					    <table>
					    	<tbody>
					    		<input type="hidden" name="board" value="' . $current_board . '"/>
					    		<input type="hidden" name="thread" value="' . $post_number_op . '"/>
					    		<input type="hidden" name="reply" value="' . $post_number_reply . '"/>
					    		<tr>
									<td><input type="password" id="password_' . $post_number_reply . '" name="password" maxlength="256" placeholder="Password"></td>
									<td><input type="submit" name="delete" value="Delete"></td>
									<td><label for="file_' . $post_number_reply . '"><input type="checkbox" id="file_' . $post_number_reply . '" name="file">File only</label></td>
								</tr>
								<tr>
									<td><input type="text" id="reason_' . $post_number_reply . '" name="reason" maxlength="256" autocomplete="off" value="" placeholder="Reason"></td>
									<td><input type="submit" name="report" value="Report"></td>
									<td><label for="global_' . $post_number_reply . '"><input type="checkbox" id="global_' . $post_number_reply . '" name="global"></input>Global</label></td>
								</tr>
							</tbody>
						</table>
					</form>
					</details>';
		}?>

	</div>

	<?php 
	if ($reply_file[0][0] != '') {
		
			echo '<div class="post-file">';
				echo '<div class="file-info">';
				if ($original_filename == true && strlen($reply_file[0][2]) > $max_filename ) {
					echo 'File: <a title="' . $reply_file[0][2] . '" href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo substr($reply_file[0][2], 0, $max_filename) . '(...).' . getExt($reply_file[0][2]);
					echo '</a>';
				} elseif ($original_filename == true) {
					echo 'File: <a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo $reply_file[0][2];
					echo '</a>';	
				} else {
					echo 'File: <a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo $reply_file[0][1];
					echo '</a>';
				}
				if ($reply_file[0][0] == 'image') {
				echo ' (' . formatBytes($reply_file[0][4]) . ', ' . $reply_file[0][3] . ')';
				echo '</div>';
				echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';

						$thmb_width = preg_replace('/x[^x]*$/', '', $reply_file[0][7]);
						$thmb_height = preg_replace('/^[^x]*x/', '', $reply_file[0][7]);
						$full_width = preg_replace('/x[^x]*$/', '', $reply_file[0][3]);
						$full_height = preg_replace('/^[^x]*x/', '', $reply_file[0][3]);

						if ($reply_file[0][5] != "1") {
						echo '<img id="'.$post_number_reply.'" class="thumb" width="'.$thmb_width.'" height="'.$thmb_height.'" src="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][6] . '"/>';
						} else {
						echo '<img id="'.$post_number_reply.'" class="thumb" width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/' . '/assets/img/' . $thumb_spoiler . '"/>';
						}
						echo '<img id="'.$post_number_reply.'" class="expand" style="display:none;" width="'.$full_width.'" height="'.$full_height.'" img-src="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '"/>';
						//image full

					echo '</a>';
				echo '</div>';
				}
				if ($reply_file[0][0] == 'audio') {
					echo ' (' . formatBytes($reply_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/' . '/assets/img/' . $thumb_audio . '"/>';
					echo '</a>';
					echo '</div>';
				}
				if ($reply_file[0][0] == 'video') {
					echo ' (' . formatBytes($reply_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/' . '/assets/img/' . $thumb_video . '"/>';
					echo '</a>';
					echo '</div>';
				}
				if ($reply_file[0][0] == 'download') {
					echo ' (' . formatBytes($reply_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $reply_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/' . '/assets/img/' . $thumb_download . '"/>';
					echo '</a>';
					echo '</div>';
				}
			echo '</div>';
		}
		

		//reset files
		$reply_file = false;
	
	?>

	<blockquote class="post-content"><?php echo $reply_body; ?></blockquote>
</div>