<div class="thread <?php echo $post_number_op ?>">

<div class="post op" id="<?php echo $post_number_op; ?>">
	<?php 
	if ($op_file[0][0] == "deleted") {
		echo '<div class="post-file"><div class="file-info deleted">File Deleted</div><div class="post-image"><img class="file-deleted" width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_deleted . '"/></div></div>';
	}
	elseif ($op_file[0][0] != '') {
		
			echo '<div class="post-file" data-file="'.$op_file[0][0].'">';
				echo '<div class="file-info">';
				if ($original_filename == true && strlen($op_file[0][2]) > $max_filename ) {
					echo 'File: <a title="' . $op_file[0][2] . '" href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo substr($op_file[0][2], 0, $max_filename) . '(...).' . getExt($op_file[0][2]);
					echo '</a>';
				} elseif ($original_filename == true) {
					echo 'File: <a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo $op_file[0][2];
					echo '</a>';	
				} else {
					echo 'File: <a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo $op_file[0][1];
					echo '</a>';
				}

				if (isset($file_download)) {
					switch($file_download) {
						case 'original':
							echo '&nbsp;<a title="Download as ' . $op_file[0][2] . '" class="download" href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '" download="' . $op_file[0][2] . '">➜</a>';
							break;
						case 'server':
							echo '&nbsp;<a title="Download as ' . $op_file[0][1] . '" class="download" href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '" download="' . $op_file[0][1] . '">➜</a>';
							break;
						default:
							break;
					}
				}

				if ($op_file[0][0] == 'image') {
				echo ' (' . formatBytes($op_file[0][4]) . ', ' . $op_file[0][3] . ')';
				echo '</div>';
				echo '<div class="post-image" data-file="'.$op_file[0][0].'">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';

						$thmb_width = preg_replace('/x[^x]*$/', '', $op_file[0][7]);
						$thmb_height = preg_replace('/^[^x]*x/', '', $op_file[0][7]);
						$full_width = preg_replace('/x[^x]*$/', '', $op_file[0][3]);
						$full_height = preg_replace('/^[^x]*x/', '', $op_file[0][3]);

						if ($op_file[0][5] != "1") {
						echo '<img img-id="'.$post_number_op.'" class="thumb" width="'.$thmb_width.'" height="'.$thmb_height.'" src="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][6] . '"/>';
						} else {
						echo '<img img-id="'.$post_number_op.'" class="thumb" width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_spoiler . '"/>';
						}
						echo '<img img-id="'.$post_number_op.'" class="expand dnone" width="'.$full_width.'" height="'.$full_height.'" img-src="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '"/>';
						//image full

					echo '</a>';
				echo '</div>';
				}
				if ($op_file[0][0] == 'audio') {
					echo ' (' . formatBytes($op_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image" data-file="'.$op_file[0][0].'">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_audio . '"/>';
					echo '</a>';
					echo '</div>';
				}
				if ($op_file[0][0] == 'video') {
					echo ' (' . formatBytes($op_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image" data-file="'.$op_file[0][0].'">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_video . '"/>';
					echo '</a>';
					echo '</div>';
				}
				if ($op_file[0][0] == 'download') {
					echo ' (' . formatBytes($op_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image" data-file="'.$op_file[0][0].'">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/assets/img/' . $thumb_download . '"/>';
					echo '</a>';
					echo '</div>';
				}				
			echo '</div>';
		}
		

		//reset files
		$op_file = false;
	
	?>
	<div class="post-info">
		
		<?php if ($post_buttons == true) {
			echo '
				<details>
				    <summary></summary>
				    <form name="post_button" action="' . $prefix_folder . '/delete-report.php" method="post">
					    <table>
					    	<tbody>

				';
			if ($mod_level > 0) {
				echo '<tr><td><div class="small"><b>Moderator Tools:</b></div>';
				if ($config['mod']['thread_sticky'] <= $mod_level) {
					if ($info_sticky == 0) {
						echo '<input type="submit" name="sticky" value="Sticky"> ';
					} else {
						echo '<input type="submit" name="sticky" value="Unsticky"> ';
					}
				}
				if ($config['mod']['thread_lock'] <= $mod_level) {
					if ($info_locked == 0) {
						echo '<input type="submit" name="lock" value="Lock"> ';
					} else {
						echo '<input type="submit" name="lock" value="Unlock"> ';
					}
				}
				if ($config['mod']['thread_autosage'] <= $mod_level) {
					if ($info_autosage == 0) {
						echo '<input type="submit" name="autosage" value="Autosage"> ';
					} else {
						echo '<input type="submit" name="autosage" value="Unautosage"> ';
					}
				}
				if ($config['mod']['ban'] <= $mod_level) {
						echo '<details><summary>Ban</summary><table id="post-form" style="width:initial;">
					<tbody>
					<tr><th>Reason:</th><td><input type="text" name="ban-reason" size="25" maxlength="256" autocomplete="off" placeholder="Reason"></td></tr>
					<tr><th>Duration:</th><td>
					<select name="ban-expire">
					  <option value="permanent">Permanent</option>
					  <option value="31104000">1 Year</option>
					  <option value="7776000">3 Months</option>
					  <option value="2592000">1 Month</option>
					  <option value="1209600">2 Weeks</option>
					  <option value="604800">1 Week</option>
					  <option value="259200">3 Days</option>
					  <option value="86400">1 Day</option>
					  <option value="3600">1 Hour</option>
					  <option value="warning" selected>Warning</option>
					</select>
					</td></tr>
					<tr><th>Public:</th><td><label for="public_' . $post_number_op . '"><input type="checkbox" id="public_' . $post_number_op . '" name="public">Public Ban Message</label><input type="text" name="ban-message" size="25" maxlength="256" autocomplete="off" placeholder="(User was banned for this post.)"></td></tr>
					<tr><th style="visibility:hidden;"></th><td><details style="float:right;"><summary style="text-align:right;">Ban</summary><input type="submit" name="create-ban" value="Create Ban"></details></td></tr>
				</tbody></table></details>';
				}

				echo '<hr></td></tr>';
			}
				
			echo '

					    		<input type="hidden" name="board" value="' . $current_board . '"/>
					    		<input type="hidden" name="thread" value="' . $post_number_op . '"/>
					    		<input type="hidden" name="reply" value="' . $post_number_op . '"/>
					    		<tr>
									<td><input type="password" id="password_' . $post_number_op . '" name="password" maxlength="256" placeholder="Password" value="'. $_COOKIE['post_password'] . '"></td>
									<td><input type="submit" name="delete" value="Delete"></td>
									<td><label for="file_' . $post_number_op . '"><input type="checkbox" id="file_' . $post_number_op . '" name="file">File only</label></td>
								</tr>
								<tr>
									<td><input type="text" id="reason_' . $post_number_op . '" name="reason" maxlength="256" autocomplete="off" value="" placeholder="Reason"></td>
									<td><input type="submit" name="report" value="Report"></td>
									<td><label for="global_' . $post_number_op . '"><input type="checkbox" id="global_' . $post_number_op . '" name="global">Global</label></td>
								</tr>
							</tbody>
						</table>
					</form>
					</details>';
		}?>
		
		<?php if ($op_subject != '') { echo '<span class="subject">' . $op_subject . '&nbsp;</span>'; }?>
		<?php if (($op_email != '') && ($show_email != false)) { echo '<a href="mailto:' . $op_email . '">';}?><span class="<?php if(($op_email != '') && ($show_email != false)) { echo 'link '; } ?>name"><?php echo $op_name; ?></span><?php if ($op_email != '') { echo '</a>'; }?>
		<span class="post-time" data-timestamp="<?php echo $op_time;?>" data-tooltip="<?php echo timeConvert($op_time, $time_method_hover); ?>"><?php echo timeConvert($op_time, $time_method); ?></span>
		
		<?php
			if ($display_id == true) {
				echo '<span class="id">ID: ';
				if ($op_email == "sage") {
					echo 'Heaven';
				} else {
					$idhash = md5($current_board . $post_number_op);
					$op_id = crypt($op_ip, $idhash);
					$op_id = preg_replace("/\./", "", $op_id);
					echo substr($op_id, -8);
				}
				echo '</span>';
			}
		?>

		<?php
		echo '<span class="post-number">';
		echo '<a class="anchor" name="' . $post_number_op . '" href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_op . '">No.</a>';
		echo '<a class="click" num="' . $post_number_op . '" id="cite_' . $post_number_op . '" href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#q' . $post_number_op . '">' . $post_number_op . '</a>';
		echo '&nbsp;</span>';
		?>

		<?php 
		if ($info_sticky == 1) {
			echo '<span title="Sticky" class="icon"><img width="16" height="16" src="'. $prefix_folder .'/assets/img/' . $icon_sticky . '"/></span>';
		}
		if ($info_locked == 1) {
			echo '<span title="Locked" class="icon"><img width="16" height="16" src="'. $prefix_folder .'/assets/img/' . $icon_locked . '"/></span>';
		}
		if ($info_autosage == 1) {
			echo '<span title="Autosage" class="icon"><img width="16" height="16" src="'. $prefix_folder .'/assets/img/' . $icon_autosage . '"/></span>';
		}
		?>

		<?php 
			if ($current_page === 'index') { 
				echo '&nbsp;<span>[<a href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '">Reply</a>]</span>';
			}
		?>

	</div>
	<blockquote class="post-content">
		<?php echo $op_body; ?>
	<?php 
		if (($current_page == 'index') && ($replies_omitted > 1)) {
		echo '<br><br><div class="omitted"> ' . $replies_omitted . ' Replies omitted. Click <a href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_op . '">here</a> to view.</div>'; 
		} elseif (($current_page == 'index') && ($replies_omitted > 0)) { 
		echo '<br><br><div class="omitted"> ' . $replies_omitted . ' Reply omitted. Click <a href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_op . '">here</a> to view.</div>'; 
		}
	?>
	</blockquote>
</div>

</div>

<?php 
//reset stuff
$info_locked = 0;
$info_sticky = 0;
$info_autosage = 0;
?>