<div class="thread <?php echo $post_number_op ?>">

<div class="post op <?php echo $post_number_op ?>" data-postid="<?php echo $post_number_op; ?>">
	<?php 
	if ($op_file[0][0] == "deleted") {
		echo '<div class="post-file"><div class="file-info">File Deleted</div><div class="post-image"><img class="file-deleted" width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/' . '/assets/img/' . $thumb_deleted . '"/></div></div>';
	}
	elseif ($op_file[0][0] != '') {
		
			echo '<div class="post-file">';
				echo '<div class="file-info">';
				if ($original_filename == true && strlen($op_file[0][2]) > $max_filename ) {
					echo 'File: <a title="' . $op_file[0][2] . '" href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo substr($op_file[0][2], 0, $max_filename) . '(...).' . getExt($op_file[0][2]);
					echo '</a>';
				} elseif ($original_filename == true) {
					echo 'File: <a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo $op_file[0][2];
					echo '</a>';	
				} else {
					echo 'File: <a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo $op_file[0][1];
					echo '</a>';
				}
				if ($op_file[0][0] == 'image') {
				echo ' (' . formatBytes($op_file[0][4]) . ', ' . $op_file[0][3] . ')';
				echo '</div>';
				echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';

						$thmb_width = preg_replace('/x[^x]*$/', '', $op_file[0][7]);
						$thmb_height = preg_replace('/^[^x]*x/', '', $op_file[0][7]);
						$full_width = preg_replace('/x[^x]*$/', '', $op_file[0][3]);
						$full_height = preg_replace('/^[^x]*x/', '', $op_file[0][3]);

						if ($op_file[0][5] != "1") {
						echo '<img id="'.$post_number_op.'" class="thumb" width="'.$thmb_width.'" height="'.$thmb_height.'" src="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][6] . '"/>';
						} else {
						echo '<img id="'.$post_number_op.'" class="thumb" width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/' . '/assets/img/' . $thumb_spoiler . '"/>';
						}
						echo '<img id="'.$post_number_op.'" class="expand" style="display:none;" width="'.$full_width.'" height="'.$full_height.'" img-src="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '"/>';
						//image full

					echo '</a>';
				echo '</div>';
				}
				if ($op_file[0][0] == 'audio') {
					echo ' (' . formatBytes($op_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/' . '/assets/img/' . $thumb_audio . '"/>';
					echo '</a>';
					echo '</div>';
				}
				if ($op_file[0][0] == 'video') {
					echo ' (' . formatBytes($op_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/' . '/assets/img/' . $thumb_video . '"/>';
					echo '</a>';
					echo '</div>';
				}
				if ($op_file[0][0] == 'download') {
					echo ' (' . formatBytes($op_file[0][4]) . ')';
					echo '</div>';
					echo '<div class="post-image">';
					echo '<a href="' . $prefix_folder . '/' . $uploads_folder . '/' . $current_board . '/' . $op_file[0][1] . '">';
					echo '<img width="'.$thumb_res_reply.'" height="'.$thumb_res_reply.'" src="' . $prefix_folder . '/' . '/assets/img/' . $thumb_download . '"/>';
					echo '</a>';
					echo '</div>';
				}				
			echo '</div>';
		}
		

		//reset files
		$op_file = false;
	
	?>
	<div class="post-info">
		<input type="checkbox" id="post_<?php echo $post_number_op; ?>" name="post_<?php echo $post_number_op; ?>" value="<?php echo $post_number_op; ?>">
		<?php if ($op_subject != '') { echo '<span class="subject">' . $op_subject . '&nbsp;</span>'; }?>
		<?php if (($op_email != '') && ($show_email != false)) { echo '<a href="mailto:' . $op_email . '">';}?><span class="<?php if(($op_email != '') && ($show_email != false)) { echo 'link '; } ?>name"><?php echo $op_name; ?></span><?php if ($op_email != '') { echo '</a>'; }?>
		<span class="post-time" data-timestamp="<?php echo $op_time;?>" data-tooltip="<?php echo timeConvert($op_time, $time_method_hover); ?>"><?php echo timeConvert($op_time, $time_method); ?></span>
		
		<?php
			if ($display_id == true) {
				echo '<span class="id">ID: ';
				if ($op_email == "sage") {
					echo 'Heaven';
				} else {
					$idhash = md5($current_board . $post_number_op);
					$op_id = crypt($op_ip, $idhash);
					$op_id = preg_replace("/\./", "", $op_id);
					echo substr($op_id, -8);
				}
				echo '</span>';
			}
		?>

		<span class="post-number"><a name="<?php echo $post_number_op; ?>" href="<?php echo $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_op; ?>">No.</a><a href="<?php echo $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_op; ?>"><?php echo $post_number_op; ?></a></span>

		<?php 
		if ($info_sticky == 1) {
			echo '<span title="Sticky" class="icon"><img width="16px" height="16px" src="'. $prefix_folder .'/assets/img/' . $icon_sticky . '"/></span>';
		}
		if ($info_locked == 1) {
			echo '<span title="Locked" class="icon"><img width="16px" height="16px" src="'. $prefix_folder .'/assets/img/' . $icon_locked . '"/></span>';
		}
		if ($info_autosage == 1) {
			echo '<span title="Autosage" class="icon"><img width="16px" height="16px" src="'. $prefix_folder .'/assets/img/' . $icon_autosage . '"/></span>';
		}
		?>

		<?php if ($post_buttons == true) {
			echo '
				<details>
				    <summary></summary>
				    <form name="post_button" action="' . $prefix_folder . '/delete-report.php" method="post">
					    <table>
					    	<tbody>
					    		<input type="hidden" name="board" value="' . $current_board . '"/>
					    		<input type="hidden" name="thread" value="' . $post_number_op . '"/>
					    		<input type="hidden" name="reply" value="' . $post_number_op . '"/>
					    		<tr>
									<td><input type="password" id="password_' . $post_number_op . '" name="password" maxlength="256" placeholder="Password"></td>
									<td><input type="submit" name="delete" value="Delete"></td>
									<td><label for="file_' . $post_number_op . '"><input type="checkbox" id="file_' . $post_number_op . '" name="file">File only</label></td>
								</tr>
								<tr>
									<td><input type="text" id="reason_' . $post_number_op . '" name="reason" maxlength="256" autocomplete="off" value="" placeholder="Reason"></td>
									<td><input type="submit" name="report" value="Report"></td>
									<td><label for="global_' . $post_number_op . '"><input type="checkbox" id="global_' . $post_number_op . '" name="global"></input>Global</label></td>
								</tr>
							</tbody>
						</table>
					</form>
					</details>';
		}?>

		<?php 
			if ($current_page === 'index') { 
				echo '&nbsp;<span>[<a href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '">Reply</a>]</span>';
			}
		?>

	</div>
	<blockquote class="post-content">
		<?php echo $op_body; ?>
	<?php 
		if (($current_page == 'index') && ($replies_omitted > 1)) {
		echo '<br><br><div class="omitted"> ' . $replies_omitted . ' Replies omitted. Click <a href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_op . '">here</a> to view.</div>'; 
		} elseif (($current_page == 'index') && ($replies_omitted > 0)) { 
		echo '<br><br><div class="omitted"> ' . $replies_omitted . ' Reply omitted. Click <a href="' . $prefix_folder . '/' . $main_file . '?board=' . $current_board . '&thread=' . $post_number_op . '#' . $post_number_op . '">here</a> to view.</div>'; 
		}
	?>
	</blockquote>
</div>

</div>

<?php 
//reset stuff
$info_locked = 0;
$info_sticky = 0;
$info_autosage = 0;
?>